<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Register in Exchange</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">
<link
	href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
	rel="stylesheet" crossorigin="anonymous" />
</head>

<body class="bg-white">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-8">
						<div class="page-header">
							<h1>Exchange</h1>
						</div>
					</div>
					<div class="col-md-2">
						<p>Logged in as</p>
						<p>
							<a class="btn" href="#"></a>
						</p>
					</div>
					<div class="col-md-2">
							<button class="btn btn-primary" type="button">
								LogOut</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h3>Currencies</h3>
						<table class="table table-bordered">
							<thead>
								<tr class="table-secondary">
									<th class="text-center">Currency</th>
									<th class="text-center">Unit</th>
									<th class="text-center">Value</th>
									<th class="text-center">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">GBP</td>
									<td class="text-center">1</td>
									<td class="text-center">1.22</td>
									<td class="text-center">
										<button type="button" class="btn btn-sm btn-primary">
										Buy</button>
									</td>
								</tr>

								<tr>
									<td class="text-center">EUR</td>

									<td class="text-center">1</td>
									<td class="text-center">1.2222222</td>
									<td class="text-center">
										<button type="button" class="btn btn-sm btn-primary">
										Buy</button>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
					<div class="col-md-6">
						<h3>My wallet</h3>
						<table class="table table-bordered">
							<thead>
								<tr class="table-secondary">
									<th class="text-center">Currency</th>
									<th class="text-center">Unit</th>
									<th class="text-center">Amount</th>
									<th class="text-center">Value</th>
									<th class="text-center">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">GBP</td>
									<td class="text-center">5.22</td>
									<td class="text-center">100</td>
									<td class="text-center">1500</td>
									<td class="text-center">
										<button type="button" class="btn btn-sm btn-primary">
											Sell</button>
									</td>
								</tr>

								<tr>
									<td class="text-center">EUR</td>
									<td class="text-center">4.12</td>
									<td class="text-center">10</td>
									<td class="text-center">15</td>
									<td class="text-center">
										<button type="button" class="btn btn-sm btn-primary">
											Sell</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="row">
							<div class="col-md-12">
								<p>Available PLN:</p>
								<p>
									<a class="btn" href="#"></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>