<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Exchange office</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">
<link
	href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
	rel="stylesheet" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
</head>

<body class="bg-white">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-8">
						<div class="page-header">
							<h1>Exchange</h1>
						</div>
					</div>
					<div class="col-md-2">
						<p>Logged in as</p>
						<p class="font-weight-bold" th:text="${userInfo}">
						</p>
					</div>
					<div class="col-md-2">
							<a href='/logout' class="btn btn-primary" type="button">
								LogOut</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h3>Currencies</h3>
						<table class="table table-bordered currencyTable">
							<thead>
								<tr class="table-secondary">
									<th class="text-center">Currency</th>
									<th class="text-center">Unit</th>
									<th class="text-center">Value</th>
									<th class="text-center">Action</th>
								</tr>
							</thead>
							<tbody>
							      <tr th:each="rate : ${exchangeRates}" th:attr="rate=${rate.code}">
									<td class="text-center" th:text="${rate.code}"></td>
									<td class="text-center" th:text="${rate.unit}"></td>
									<td class="text-center" th:text="${rate.purchasePrice}"></td>
									<td class="text-center">
										<button type="button" th:attr="currency=${rate.code}" class="btn btn-sm btn-primary">
										Buy</button>
									</td>
								</tr>

							</tbody>
						</table>
						<div class="row">
							<div class="col-md-12">
								<p>Publication Date:</p><p class="font-weight-bold pubDate" th:text="${exchangeRates[0].date}">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<h3>My wallet</h3>
						<table class="table table-bordered walletTable">
							<thead>
								<tr class="table-secondary">
									<th class="text-center">Currency</th>
									<th class="text-center">Unit price</th>
									<th class="text-center">Amount</th>
									<th class="text-center">Value</th>
									<th class="text-center">Action</th>
								</tr>
							</thead>
							<tbody>
								 <tr th:each="wallet : ${userWallets}" th:attr="wallet=${wallet.currency}">
									<td class="text-center" th:text="${wallet.currency}"></td>
									<td class="text-center" th:text="${wallet.unitPrice}"></td>
									<td class="text-center" th:text="${wallet.amount}"></td>
									<td class="text-center" th:text="${wallet.value}"></td>
									<td class="text-center">
										<button type="button" th:attr="currency=${wallet.currency}" class="btn btn-sm btn-primary">
										Sell</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="row">
							<div class="col-md-12">
								<p>Available PLN:</p><p class="font-weight-bold settlementAmount" th:text="${settlementAmount}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
        <script th:src="@{js/app.js}"></script>

</body>
</html>